In [17]:
import pandas as pd
data=pd.read_csv("FeedBack.csv")
data

,Rating,Reviwe Title,Review,Customer Name,Date,Review Id
0,4,Works Well,"The product works fine , it is maybe a little ...",mahesh,"Octomber 10,2021",#4458
1,3,good enough,NaN,suresh,"Octomber 10,2021",NaN
2,5,Everyoune shoud buy this,You should buy this,ramesh,NaN,NaN
3,5,Amazing product,Love everything about this product,Vaibhav,5th Octo,NaN
4,1,this is terrible,the product never worked for me.,raj,"4,41,14,981",NaN
5,2,Doesn`t work,This doesn`t work as advertised.,pravin,NaN,NaN
6,4,cool product,"This worked well for me , Not s stat becouse t...",shyam,05-Sep-23,NaN
7,5,BEST THING EVER,Go and buy this product,somya,NaN,#6754
8,5,Amazing product,Love everything about this product,Vaibhav,NaN,NaN
9,5,Love this!,I would 100% recommend this product,virendra,"10,5,2021",NaN
10,100,Hate this,this doesn`t do anything for me,arjun,NaN,NaN
11,3,OK product,"It dies what is has to do, but the user experi...",krishan,NaN,#4564

In [18]:
print(data.isnull().sum())

Rating           0
Reviwe Title     0
Review           1
Customer Name    0
Date             6
Review Id        9
dtype: int64

In [21]:
remove=['Review Id','Date']
data.drop(remove,inplace=True,axis=1)
data

,Rating,Reviwe Title,Review,Customer Name
0,4,Works Well,"The product works fine , it is maybe a little ...",mahesh
1,3,good enough,NaN,suresh
2,5,Everyoune shoud buy this,You should buy this,ramesh
3,5,Amazing product,Love everything about this product,Vaibhav
4,1,this is terrible,the product never worked for me.,raj
5,2,Doesn`t work,This doesn`t work as advertised.,pravin
6,4,cool product,"This worked well for me , Not s stat becouse t...",shyam
7,5,BEST THING EVER,Go and buy this product,somya
8,5,Amazing product,Love everything about this product,Vaibhav
9,5,Love this!,I would 100% recommend this product,virendra
10,100,Hate this,this doesn`t do anything for me,arjun
11,3,OK product,"It dies what is has to do, but the user experi...",krishan

In [14]:
data.isnull().sum()

Rating           0
Reviwe Title     0
Review           1
Customer Name    0
dtype: int64

In [15]:
data['Review']=data['Review'].fillna("No review")
data

,Rating,Reviwe Title,Review,Customer Name
0,4,Works Well,"The product works fine , it is maybe a little ...",mahesh
1,3,good enough,No review,suresh
2,5,Everyoune shoud buy this,You should buy this,ramesh
3,5,Amazing product,Love everything about this product,Vaibhav
4,1,this is terrible,the product never worked for me.,raj
5,2,Doesn`t work,This doesn`t work as advertised.,pravin
6,4,cool product,"This worked well for me , Not s stat becouse t...",shyam
7,5,BEST THING EVER,Go and buy this product,somya
8,5,Amazing product,Love everything about this product,Vaibhav
9,5,Love this!,I would 100% recommend this product,virendra
10,100,Hate this,this doesn`t do anything for me,arjun
11,3,OK product,"It dies what is has to do, but the user experi...",krishan

In [16]:
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
dtype: bool

In [35]:
data.drop_duplicates()

,Rating,Review Title,Review,Customer Name
0,4,Works Well,"The product works fine , it is maybe a little ...",mahesh
1,3,good enough,No review,suresh
2,5,Everyoune shoud buy this,You should buy this,ramesh
3,5,Amazing product,Love everything about this product,Vaibhav
4,1,this is terrible,the product never worked for me.,raj
5,2,Doesn`t work,This doesn`t work as advertised.,pravin
6,4,cool product,"This worked well for me , Not s stat becouse t...",shyam
7,5,BEST THING EVER,Go and buy this product,somya
9,5,Love this!,I would 100% recommend this product,virendra
10,100,Hate this,this doesn`t do anything for me,arjun
11,3,OK product,"It dies what is has to do, but the user experi...",krishan

In [36]:
data['Rating'].describe()

count     12.000000
mean      11.833333
std       27.797427
min        1.000000
25%        3.000000
50%        4.500000
75%        5.000000
max      100.000000
Name: Rating, dtype: float64

In [37]:
data.loc[10,'Rating']=1
data

,Rating,Review Title,Review,Customer Name
0,4,Works Well,"The product works fine , it is maybe a little ...",mahesh
1,3,good enough,No review,suresh
2,5,Everyoune shoud buy this,You should buy this,ramesh
3,5,Amazing product,Love everything about this product,Vaibhav
4,1,this is terrible,the product never worked for me.,raj
5,2,Doesn`t work,This doesn`t work as advertised.,pravin
6,4,cool product,"This worked well for me , Not s stat becouse t...",shyam
7,5,BEST THING EVER,Go and buy this product,somya
8,5,Amazing product,Love everything about this product,Vaibhav
9,5,Love this!,I would 100% recommend this product,virendra
10,1,Hate this,this doesn`t do anything for me,arjun
11,3,OK product,"It dies what is has to do, but the user experi...",krishan

In [42]:
#review title
data['Review Title']=data['Review Title'].str.lower()
#for review
data['Review']=data['Review'].str.lower()
data

,Rating,Review Title,Review,Customer Name
0,4,works well,"the product works fine , it is maybe a little ...",mahesh
1,3,good enough,no review,suresh
2,5,everyoune shoud buy this,you should buy this,ramesh
3,5,amazing product,love everything about this product,Vaibhav
4,1,this is terrible,the product never worked for me.,raj
5,2,doesn`t work,this doesn`t work as advertised.,pravin
6,4,cool product,"this worked well for me , not s stat becouse t...",shyam
7,5,best thing ever,go and buy this product,somya
8,5,amazing product,love everything about this product,Vaibhav
9,5,love this!,i would 100% recommend this product,virendra
10,1,hate this,this doesn`t do anything for me,arjun
11,3,ok product,"it dies what is has to do, but the user experi...",krishan